.bordertab {
    border: 1px solid #aaaaaa;
    padding:10px 20px ;
}

.content{  
    width: 75%;
}
.outer{
    display:flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}
.right{
    flex: 1 1 0%;
}

.number{
    padding: 0 10px;
}